body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #F05F40;
}

hr.light {
  border-color: #fff;
}

a {
  color: #ffffff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link::after {
  color:#fff;
  content: "|";
  margin-left: 15px;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link:last-child,
#mainNav .navbar-nav > li.nav-item > a.nav-link::after:last-child {
  content:"";
}  

.hm1{
  padding-top: 10px;
}
header.masthead {
  background:linear-gradient(#00345c,#09092b)  !important;
  background-position: right right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  
header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}
  
header.masthead h1 {
  font-size: 1rem;
  font-weight: 300;
}

header.masthead p {
  font-weight: 200;
}
  
@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}
  
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 1rem;
  }
}
  
@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 1rem;
  }
}

.h1-center{
  vertical-align: middle;
	max-width: 100%;
	height: auto;
	padding: 100px 0 10px 65px;
}
    
.border-left {
  border-left: 1px solid #ddd;
  vertical-align: middle;
  height: 5vh;
}

.btn1 {
  font-weight: 500;
  text-transform: uppercase;
  border: 500px;
  font-family: 'Roboto', sans-serif;
}

.btn1-xl {
  padding: 0.5rem 1.5rem;
}
      
.btn1-primary {
  background-color: transparent;
  border-top: 2px solid #3a4ed5;
  border-bottom: 2px solid #3ACFD5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  -webkit-background-size: 2px 100%;
  -moz-background-size: 2px 100%;
  background-size: 2px 100%;
  background-image: -webkit-linear-gradient(top, #3a4ed5 0%, #3acfd5 100%), -webkit-linear-gradient(top, #3a4ed5 0%, #3acfd5 100%);
  background-image: -moz-linear-gradient(top, #3a4ed5 0%, #3acfd5 100%), -moz-linear-gradient(top, #3a4ed5 0%, #3acfd5 100%);
  background-image: -o-linear-gradient(top, #3a4ed5 0%, #3acfd5 100%), -o-linear-gradient(top, #3a4ed5 0%, #3acfd5 100%);
  background-image: linear-gradient(to bottom, #3a4ed5 0%, #3acfd5 100%), linear-gradient(to bottom, #3a4ed5 0%, #3acfd5 100%);
}
      
.btn1-primary:hover, .btn1-primary:focus, .btn1-primary:active {
  color: #fff;
  background-color: transparent;
}
      
.btn1-primary:active, .btn1-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 52, 92, 0.5) !important;
}

.btn2 {
  font-weight: 500;
  background: transparent;
  text-transform: uppercase;
  border: 500px;
  font-family: 'Roboto', sans-serif;
  color: #696767;
  border: 2px solid #696767;
  box-align: left;
}

@media (max-width: 1200px){
  .pt50{
    padding-top: 200px;
  }
  .center-res{
    text-align: center;
  }
}
.title-pages-1{
  text-align: justify;
  padding: 1px;
}

.bg-pages-1{
  background: #eeeeee;
  padding: 50px 0 70px 0;
}
.bg-pages-2{
  background: #ffffff;
  padding: 50px 0 70px 0;
}
.pt40{
  padding-top: 40px;
}
.pt100{
    padding-top: 100px;
}
.pl50{
  padding-left: 500px;
}

.text-gris{
  font-size: 2.5rem;
  font-weight: 500;
  padding: 0.01rem 0rem;
  text-transform: uppercase;
  color: #404a53;
}

.text-gris1{
  color: #696767;
}

.c1{
  padding-top: 10px;
}
.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

@media screen and (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next,
.carousel-item-prev {
  position: absolute;
  top: 0;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.carousel-item-next,
.active.carousel-item-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .carousel-item-next,
  .active.carousel-item-right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.carousel-item-prev,
.active.carousel-item-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .carousel-item-prev,
  .active.carousel-item-left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: .6s;
  transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .carousel-fade .carousel-item-next,
  .carousel-fade .carousel-item-prev,
  .carousel-fade .carousel-item.active,
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-prev {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: rgb(34, 32, 32);
  text-align: center;
  opacity: 0.5;
}

.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: rgb(34, 32, 32);
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #09092b no-repeat center center;
  background-size: 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  position: relative;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators li::before {
  position: absolute;
  top: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators li::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators .active {
  background-color: rgb(39, 36, 36);
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(48, 42, 42);
  text-align: center;
}

footer.mastfooter {
  background:linear-gradient(#00345c,#09092b)  !important;
  background-position: right right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  
footer.mastfooter h1 {
  font-size: 1rem;
  font-weight: 500;
}

footer.mastfooter p {
  font-weight: 200;
}
  
@media (min-width: 768px) {
  footer.mastfooter p {
    font-size: 1.15rem;
  }
}
  
@media (min-width: 992px) {
  footer.mastfooter{
    height: 100vh;
    min-height: 850px;
    padding-top: 0;
    padding-bottom: 0;
  }
  footer.mastfooter h1 {
    font-size: 1rem;
  }
}
  
@media (min-width: 1200px) {
  footer.mastfooter h1 {
    font-size: 1rem;
  }
}

.pt20{
  padding-top: 5px; 
}
.form-control{
  border-top:#fff;
  border-left: #fff;
  border-right:  #fff;
  background:transparent;
  color: #fff;
}
.form-control input{
 color: #fff;
}
.form-control::placeholder {
  color: #fff;
  opacity: 0;
}

.form-control::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

.form-control:focus {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 52, 92, 0.25);
}

.btn-enviar {
  font-weight: 500;
  background: transparent;
  border: 500px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 1px;
  box-align: center;
  padding: 2px 15px 2px 15px;
}

.btn-enviar:hover, .btn-enviar:focus {
  text-decoration: none;
}

.btn-enviar:focus, .btn-enviar.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 52, 92, 0.25);
}

/* footer social icons */
ul.social-network {
list-style: none;
display: inline;
margin-left:0 !important;
padding: 0;
}
ul.social-network li {
display: inline;
margin: 0 5px;
}


/* footer social icons */
.social-network a.icoFacebook:hover {
background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
background-color: #F15245;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
color:#09092b;
}
a.socialIcon:hover, .socialHoverClass {
color:#44BCDD;
}

.social-circle li a {
display:inline-block;
position:relative;
margin:0 auto 0 auto;
-moz-border-radius:50%;
-webkit-border-radius:50%;
border-radius:50%;
text-align:center;
width: 50px;
height: 50px;
font-size:20px;
}
.social-circle li i {
margin:0;
line-height:50px;
text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-ms--transform: rotate(360deg);
transform: rotate(360deg);
-webkit-transition: all 0.2s;
-moz-transition: all 0.2s;
-o-transition: all 0.2s;
-ms-transition: all 0.2s;
transition: all 0.2s;
}
.social-circle i {
color: #09092b;
-webkit-transition: all 0.8s;
-moz-transition: all 0.8s;
-o-transition: all 0.8s;
-ms-transition: all 0.8s;
transition: all 0.8s;
}

.social-circle a {
background-color: #fff;   
}
